{% extends "base.html.j2" %}

{%block title%}MCU{%endblock%}

{% block obsah %}

<h1>MCU</h1>
<p>Marvel Cinematic Universe (MCU) je mediální franšíza a fikční svět, kde se odehrávají filmy,<br>
televizní seriály a vybrané komiksy se superhrdiny komiksového vydavatelství Marvel Comics.<br>
Celovečerní snímky jsou produkovány filmovým studiem Marvel Studios.<br>
<br>
Prvním vydaným filmem byl Iron Man (2008), po něm následovaly snímky Neuvěřitelný Hulk (2008), Iron Man 2 (2010), Thor (2011),<br>
Captain America: První Avenger (2011), Avengers (2012), Iron Man 3 (2013), Thor: Temný svět (2013), Captain America: Návrat prvního Avengera (2014),<br>
Strážci Galaxie (2014), Avengers: Age of Ultron (2015), Ant-Man (2015), Captain America: Občanská válka (2016), Doctor Strange (2016), Strážci Galaxie Vol. 2 (2017),<br>
Spider-Man: Homecoming (2017), Thor: Ragnarok (2017), Black Panther (2018), Avengers: Infinity War (2018), Ant-Man a Wasp (2018), Captain Marvel (2019),<br>
Avengers: Endgame (2019), Spider-Man: Daleko od domova (2019), Black Widow (2021), Shang-Chi a legenda o deseti prstenech (2021), Eternals (2021) a Spider-Man: Bez domova (2021).<br>
Dalším připravovaným filmem je Doctor Strange v mnohovesmíru šílenství (2022). Snímky z Marvel Cinematic Universe se dočkaly pozitivního ohlasu jak ze strany kritiků, tak i diváků.<br>
Z komerčního hlediska se jedná o nejvýdělečnější filmovou sérii v historii filmu.<br>
<br>
Kromě celovečerních filmů jsou součástí Marvel Cinematic Universe také televizní seriály Agenti S.H.I.E.L.D. (2013–2020), Agent Carter (2015–2016),<br>
Daredevil (2015–2018), Jessica Jones (2015–2019), Luke Cage (2016–2018), Iron Fist (2017–2018), The Defenders (2017), Inhumans (2017), The Punisher (2017–2019),<br>
Runaways (2017–2019), Cloak & Dagger (2018–2019), Helstrom (2020), WandaVision (2021), The Falcon and the Winter Soldier (2021), Loki (od 2021), What If…? (od 2021) a Hawkeye (2021).<br>
Vznikla také série krátkých filmů Marvel One-Shots a v rámci franšízy jsou vydávány také vlastní komiksy. Byly natočeny pilotní díly Most Wanted a New Warriors,<br>
objednán byl i pilotní díl Damage Control; žádný z nich však nebyl zveřejněn.
</p>

<p>Marvel Timeline</p>
<img src="{{ url_for('static', filename='marvel-timeline.jpg') }}" alt="", width="1500" height="400">

{% endblock obsah %}

