{% extends "base.html.j2" %}

{%block title%}Spoilery{%endblock%}

{% block obsah %}
<h1>Spoilery</h1>

<h2>Seznam postav, které zemřely v Avengers: Infinity War:</h2>
<p>
<mark>Loki</mark><br>
<mark>Heimdall</mark><br>
<mark>Gamora</mark><br>
<mark>Vision</mark><br>
Black Panther/T’Challa<br>
Spider-Man/Peter Parker<br>
Doctor Strange/Stephen Strange<br>
Winter Soldier/Bucky Barnes<br>
Falcon/Sam Wilson<br>
Scarlet Witch/Wanda Maximoff<br>
Star-Lord/Peter Jason Quill<br>
Groot<br>
Drax the destroyer<br>
Mantis<br>
Nick Fury<br>
Maria Hill<br>
Hope Pym<br>
Hank Pym<br>
Janet Van Dyne<br>
</p>
<p>Postavy zvírazněny <mark>červenou</mark> barvou, zemřely v hlavní časové linii jiným zbůsobem,<br>
než rozplynutím pomocí kamenů nekonečna.<br>
<br>
Zbylé postavy byly vráceny zpět po 5 letech (filmového času), ve filmu Avengers: Endgame.
</p>
{% endblock obsah %}

