{% extends "base.html.j2" %}

{%block title%}Stan Lee{%endblock%}

{% block obsah %}
<h1>Stan Lee</h1>
<p>
Stan Lee (28. prosince 1922 New York – 12. listopadu 2018 Los Angeles), rodným jménem Stanley Martin Lieber,<br>
byl americký komiksový scenárista, redaktor, herec, producent, vydavatel, televizní osobnost, prezident a předseda společnosti Marvel Comics.<br>
<br>
Ve spolupráci s několika umělci, nejvíce s Jackem Kirbym a Stevem Ditkem, vytvořil příběhy známé po celém světě,<br>
které vycházely dříve v komiksové podobě, především tedy Spider-Man, X-Men, Iron Man, Fantastic Four, Avengers, Hulk, Thor, Daredevil, Doctor Strange a mnoho dalších.<br>
Lee následně svými komiksy přispěl k rozšíření společnosti Marvel Comics z malého vydavatelského domu ve velkou multimediální společnost.<br>
<br>
Roku 1994 byl oficiálně uveden do Síně slávy komiksového průmyslu. Rovněž byl v roce 2011 o jeho životě natočen osmdesátiminutový dokumentární film With Great Power – The Stan Lee Story.
</p>

<p>Stan Lee</p>
<img src="{{ url_for('static', filename='stan.jpg') }}" alt="">


{% endblock obsah %}

